<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard Chatbot - Maladies Cardiaques</title>
  <link rel="stylesheet" href="/PFA/static/css/styles-dashbord.css">
  <script src="/PFA/static/js/dashbord.js"></script>
</head>
<body>

  <header class="toolbar">
    <h1>Chatbot Santé Cardiaque</h1>
  </header>

  <main class="content">
    <h2>Bienvenue sur le tableau de bord</h2>
    <p>Utilisez notre assistant pour poser vos questions sur les maladies cardiaques.</p>
    <button id="navigateBtn">Lancer le Chatbot</button>
  </main>

  <footer class="footer">
    <p>&copy; 2025 CHU de Fès - Tous droits réservés</p>
  </footer>

  
</body>
</html>
